body {
	background-image: url('img/bgpattern.png');
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 300px;
	height: 93px;
	margin: 25px auto 0;
}

nav {
	text-align: center;
	margin: 25px 0 25px 0;
}

nav a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 25px;
	display: inline-block;
	border-top: 1px solid #FFA200;
	border-bottom: 1px solid #FFA200;
}

nav a:hover,
nav a.active  {
	background-color: #ffa200;
	text-shadow: 2px 2px 8px #000;
}

h3 {
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 25px;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
}

.header {
	background-image: url('img/header.png');
	height: 300px;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #000;
}

.header .container {
	padding: 25px;
}

.header h2,
.header p {
	color: #fff;
}

.header h2 {
	text-transform: uppercase;
	font-size: 50px;
}

.header p {
	font-size: 25px;
}

.content {
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
	background: #efefef;
}

.content .container {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 25px;
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	overflow: hidden;
}

.techtool p {
	text-align: center;
}

.content .techtool {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 25px;
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	overflow: hidden;
}

.content .container img {
	display: block;
	margin: 0 auto;
}

.content .left,
.content .middle,
.content .right {	
	float: left;
	width: 31%;
	vertical-align: top;
	padding: 10px;
}

.container .img {
	width: 100%;
}

.content table {
	border-collapse: collapse;
}

.content td {
	width: 33%;
	vertical-align: top;
	border: 1px solid #dbdbdb;
	padding: 10px;
}

.content td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content h4 {
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#userSelect {
	width: 100%;
}

#userChoice,
#computerChoice,
#compareResult {
	border: 1px solid #dbdbdb;
	margin: 10px 0 10px 0;
	padding: 25px;
	text-align: center;
}

#compareResult {
	text-transform: uppercase;
	font-weight: bold;
}

.footer {
	background: #fff;
	color: #000;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	width: 100%;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}